#contenuti {
    padding-top: 30px;
    }


.descrizione {
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    border: 0px;
    height: 100%
}

#carotitolo{
    color:  #ff1a1a;
}

.stessa-altezza{
    border-bottom: 3px dotted;
    padding-bottom: 20px
}

