.img-responsive {
    position: absolute;
  left: 50%;
  margin-left: -335px
}

#invisibile {
   border: 0px;
   background-color: transparent;
}

#invisible {
   border: 0px;
   background-color: transparent;
}

#testo {
    padding-top: 250px;
    
}

#workout {
    margin-top: 25px;
    padding-top: 5px;
    border-top: 3px dotted;
}
