body {
    padding-top:50px;
    background-color: #ffffe6;
}

.glyphicon {
    width: 30px;
    font-size: 17px;
}

.navbar-nav li a{
    padding-bottom: 12.6px;
}

.navbar-form {
    width: 300px;
}

@media (max-width:768px){
    .mobile-icon{
        float: left;
        width: 33%;
        text-align: center;
    }
}

#logo_fb {
    float: right;
    display: block;
    margin-top: 13.4px;
}
#logo_insta {
    display: block;
    margin-top: 13.4px;
    float:left;
}
@media(max-width:768px){
    #logo_fb, #logo_insta{
        float: none;
    }
    footer{
        text-align: center;
    }
}
@media(min-width:768px){
    .footer-destra{
        float: right;
    }
    .paperino{
        display: none;
    }
}

#div_fb {
    height: 120px;
    border-right: 0px;
}

#div_insta {
    height: 120px;
    border-left: 0px;
}

#newsletter {
    height: 120px;
    padding-top: 0px;
}

.breadcrumb {
    margin-bottom: 0px;
    background-color: #ffffe6;
}

.navbar, #social-bar{
    background-color: #ffffb3 !important;
}

.navbar-nav > li> a{
      color: black !important;
}

.navbar-nav > .active > a{
      background-color:  #e6e600 !important;
}

[class*="col-"]{
    background-color: transparent !important;
}

.img-responsive{
    padding-bottom: 5%;
}

.immagine {
    width: 100%;
}

.noborder {
    border: 0px !important;
}

.nopadding {
    padding: 0px !important;
}

.outer {
    border: 2px solid !important;
    border-radius: 10px;
}

/*css per il form*/

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container legend {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.loginmodal-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

/*test*/


