@media print {
    /* Homepage */
    #myCarousel {
        display: none !important;
    }
    
    .immagine {
        display: none !important;
    }
    
    .img-responsive {
        display: none !important;
    }
    
    #display-none-print {
        display: none ;
    }
    
    #myBtnContainer {
        display: none !important;
    }
    
    #contenutiscroll {
        overflow-y: hidden;
        height: 100%;
    }
    
    #recensione {
        display: none !important;
    }
}