#prodotto-spec{
    margin-top: 2%;
}

#logo-carota {
    width: 100%;   
}

#img-specifica {
    padding: 0px;
    border: 0px;
}

#invisibile {
   border: 0px;
   background-color: transparent;
}

#invisibile2{
    height: 100px;
    border: 0px;
    background-color: transparent;
}

.checked {
    color: gold;
}

#menu_sx {
    padding-top: 0;
    padding-left: 0px;
    padding-right: 10px;
    margin-top: 20px;
    border: 0px;
}
#list {
    list-style-type: none;
    padding-left: 0px;    
}

.accordion {
    border: 2px solid ;
    background-color: #ffffb3;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 20px;
    transition: 0.4s;

}

.active-menusx {
    background-color: #e6e600;
    
}

.panel {
    padding: 0 15px;
    background-color: #ffffe6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.noborder{
    border: 0px !important;
}

.bordertop{
    border-width: 2px 0px 0px 0px !important;
    border-color: black !important;
}

#spazio{
    border-width: 2px 2px 2px 2px !important;
    border-color: black !important;
}

#spazio1{
    border-width: 2px 2px 2px 0px !important;
    border-color: black !important;
}

#descrizione{
    border-color: black !important;
}

.contenuto-dx{
    border: 3px solid !important;
    padding: 0px !important;
}

/* media query mobile first */
@media (max-width:767px) {
    #menu_sx {
        display: none;
    }
    #invisibile2{
        display: none;
    }
    .cont-int2{
        margin-top: 0px !important;
    }

}

@media (max-width: 1200px) {
        .accordion {
        font-size: 1.2em;
    }
}

@media (max-width: 992px) {
        .accordion {
        font-size: 0.8em;
    }
}