#contenuto {
    border: 2px solid;
    margin-bottom: 30px;
}

#descrizione {
    border-bottom: 2px solid;
}

#produttori {
    border: 0px;
}

.outer{
    border: 0px !important;
    text-align: center;
    font-size: 20px;
}

.cont-int {
    padding-top: 16px;
    border: 1px solid;
    width: 80%;
    height: 60px;
    margin: auto;
}

.breadcrumb {
    margin-bottom: 5px;
}


/* media query mobile first*/
