#contenuti {
    padding-top: 30px;
    }

#logo_carota {
    width: 100%;
}

#img-specifica {
    padding: 0px;
    border: 0px;
}

#descrizione {
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    border: 0px;
    height: 100%
}

#carotitolo{
    color:  #ff1a1a;
}

#stessa-altezza{
    border-bottom: 3px dotted;
    padding-bottom: 20px
}

#icon1{
    border-width: 0px 3px 3px 0px !important;
    border-style: dotted !important;
    border-color: black !important;
}

#icon2{
    border-width: 0px 0px 3px 0px !important;
    border-style: dotted !important;
    border-color: black !important;
}

#icon3{
    border-width: 0px 3px 0px 0px !important;
    border-style: dotted !important;
    border-color: black !important;
}

#icon4{
    border-width: 0px !important;
}
 

#img1, #img2, #img3, #img4, .ingredienti {
    border: 0px !important;
}
#bottoncione {
   text-align: center; 
}