article {
    border-bottom: 3px dotted;
    margin-top: 15px;
    padding-bottom: 15px;
}

#first {
    border-top: 3px dotted;
    padding-top: 15px;
}

#pro-style {
    text-align: center;
    padding-bottom: 15px;
}

#search-pro {
    width: 300px;
    height: 30px
}

#select1, #select2 {
    height: 30px;
}

.dotted {
    border-top: 2px solid  !important;
    border-right: 0px !important;
    border-left: 0px !important;
    border-bottom: 0px !important;
}


#bottone-pro {
    position: relative;
    top: 0px;
    left: 150px;
    height: 30px;
                    
}

.img-specifica {
    margin-top:100px;
}